h1{
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #4a3c3c;
    text-align: center;
    text-shadow: 5px 5px 15px rgb(2, 2, 2);
}

.pic:hover{
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
    box-shadow: 10px 10px 18px lightblue;
    
}

h2{
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #7a6d6d;
    text-align: center;
    text-shadow: 5px 5px 15px rgb(2, 2, 2);
}


.pic{
    width: 200px;
    height: 225px;
    text-align: center;
    border-radius: 800px;
    display: block;
    margin: auto;
  
    
}


body{
    background-image: url('./pic3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    color: rgb(211, 197, 197);
    font-size: 18px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    
    
}

.links a{
    text-decoration: none;
    color: white;
}
.links{
    text-align: center;
}
.links a:hover{
    color:  rgb(16, 57, 190);
    font-weight: bold;
}